{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>qband</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'vendor/normalize.css' %}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'css/application.css' %}"/>


    <!-- Latest compiled and minified JavaScript -->
    <script type="text/html" id="home-template">
        <div class="wrapper">
            <div class="container">
                <!-- Sidebar -->
                <!-- /#sidebar-wrapper -->
            </div>
        </div>
    </script>

    <script type="text/html" id="login-template">
        <div id="login-modal" class="modal fade" role="dialog">
            <div class="container">
                <div class="col-md-10">
                    <div class="modal-dialog" style="margin-bottom:0">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Sign In</h3>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post">
                                    <div class=""><label for="id_username"></label></div>
                                    <div class="form-group">
                                        <input id="id_username" class="form-control" type="text" name="username"
                                               maxlength="30" required/>
                                    </div>
                                    <div class="form-group">
                                        <input id="id_password" class="form-control" type="password" name="password"
                                               required/>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-success" data-dismiss="modal">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="header-template">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">qband</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <% if (authenticated) { %>
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="ui-state-highlight">Dashboard <span class="badge"></span></a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class="logout button navbar-right">Logout</a></li>
                    </ul>
                    <% } else { %>
                    <ul class="nav navbar-nav navbar-right">
                        <li><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#login-modal">Signin</button></li>
                        <li><a href="/" class="button">Signup</a></li>
                    </ul>
                    <% } %>
                </div>
            </div>
        </nav>
    </script>
</head>
<body>

    <div class="jumbotron">
      <div class="container">
        <h1>qband</h1>
        <p>discover the social web</p>          
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center">
                <h1><img src="/static/img/qband_logo_white.png"/><small>discover the social web</small></h1>
                
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
                    <input type="text" placeholder="Search..." class="form-control">
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-success glyphicon glyphicon-search" />
            </div>
        </div>
    </div>

    <br />

    <div class="container">
      <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/youtube_logo.png" /></h2>
                    <img src="/static/img/youtube_video.png" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">                    
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/facebook_logo.png" /></h2>                
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
           </div>
            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/twitter_logo_sm.png" /></h2>              
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/twitter_logo_sm.png" /></h2>              
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
        </div>

        <div class="row">              
            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/facebook_logo.png" /></h2>                
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
           </div>
            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/twitter_logo_sm.png" /></h2>              
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/twitter_logo_sm.png" /></h2>              
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/youtube_logo.png" /></h2>
                    <img src="/static/img/youtube_video.png" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">                    
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>

<div id="content"></div>
<script src="{% static 'vendor/jquery.js' %}"></script>
<script src="{% static 'vendor/underscore.js' %}"></script>
<script src="{% static 'vendor/backbone.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script id="config" type="text/json">
    {
        "models": {},
        "collections": {},
        "views": {},
        "router": null,
        "apiLogin": "{% url 'api-token' %}"
    }
</script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/models.js' %}"></script>
<script src="{% static 'js/views.js' %}"></script>
<script src="{% static 'js/router.js' %}"></script>
</body>
</html>