{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>qband</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'vendor/normalize.css' %}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'css/application.css' %}"/>

    <style type="text/css">
        #freewall {
            width: 80%;
            margin: auto;
        }

        .item {
            /*background: rgb(135, 199, 135);*/
            width: 320px;
            height: 320px;
        }
    </style>
</head>
<body>
<!-- Our example search mechanism -->
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center">
            <h1><img src="/static/img/qband_logo_white.png"/>
                <small>discover the social web</small>
            </h1>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <form id="search-form" action="/" method="post">
            <div id="csrf-token">{% csrf_token %}</div>
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <input id="search-box" name="search" type="search" placeholder="Search..." class="form-control" required>
            </div>
            <div class="col-lg-2">
                <button type="submit" class="form-control btn btn-success glyphicon glyphicon-search"/>
            </div>
        </form>
    </div>
</div>

<br/>


<div id="placeholder"></div>
<div id="content"></div>
<script src="{% static 'vendor/jquery.js' %}"></script>
<script src="{% static 'vendor/underscore.js' %}"></script>
<script src="{% static 'vendor/freewall.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Freewall functionality -->
<script>
    var results = new Array();
    var interval_id = 0;

    $(function () {
        var wall = new freewall("#content");
        wall.reset({
				selector: '.brick',
				animate: true,
				cellW: 300,
				cellH: 'auto',
				onResize: function() {
					wall.fitWidth();
				}
			});
        //wall.fitWidth();
    });

    function display_results(results) {
        //console.log('- Displaying results:' + results.length);

        var output = "<div class='row'>";
        for (var i in results) {
            //console.log(results[i]);
            output += "<div class='col-xs-2'><div class='well'>";
            output += "<h4>" + results[i].title + " - " + results[i].provider + "</h4>";
            output += "<p>" + results[i].description + "</p>";
            if (results[i].video != '') {
                output += '<a href="' + results[i].video + '"><img src="' + results[i].image + '" style="max-width:250px"></a>';
            } else {
                output += '<a href="' + results[i].url + '"><img src="' + results[i].image + '" style="max-width:250px"></a>';
            }
            if (results[i].matched_terms != '') {
                output += "<p>Matched Terms:" + results[i].matched_terms.replace(",","<br/>") + "</p>";
            }

            output += "</div></div>";

        }
        output += "</div>";
        document.getElementById("placeholder").innerHTML = output;
    }

    $("#search-form").submit(function (event) {
        // Stop form from submitting normally
        event.preventDefault();

        var $search_url = '/api/data/search/';
        var $result_url = '/api/data/results/';

        var $form = $(this);
        var $search_query = $("#search-box").val();

        $.ajax({
            type: 'POST',
            url: $search_url,
            data: {
                search: $search_query,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                providers: ['all'] // For now, all is default
            },
            success: function (data) {
                //console.log("Search POST Successful");
                results = new Array();
                var $result_token = data['result-token'];
                // Get results using token:
                clearInterval(interval_id);
                interval_id = setInterval(function () {
                    $.ajax({
                        type: 'GET',
                        url: $result_url + $result_token + '/',
                        success: function (data) {
                            var keys = [];
                            $.each(data.providers, function (key, value) {
                                console.log(key + ":" + value.results.length);
                                if (value.results.length > 0) {
                                    for (var i in value.results) {
                                        results.push(value.results[i]);
                                    }

                                }
                            });
                            display_results(results);
                            /*console.log(data);
                             console.log("Result GET Successfull.");
                             for (var provider in Object.keys(data.providers)) {
                             console.log(data.providers[provider].status);
                             //console.log("- Adding new data: " + data.providers[i].text)
                             //results.push(data.providers[i].results);
                             }
                             //display_results(results);*/
                        },
                    });
                }, 3000);
            },
        });
    });
</script>
<!-- Freewall -->

</body>
</html>