{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>qband</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'vendor/normalize.css' %}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'css/application.css' %}"/>

    <style type="text/css">
        #freewall {
            width: 80%;
            margin: auto;
        }

        .item {
            /*background: rgb(135, 199, 135);*/
            width: 320px;
            height: 320px;
        }
    </style>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/html" id="home-template">
        <div class="wrapper">
            <div class="container">
                <!-- Sidebar -->
                <!-- /#sidebar-wrapper -->
            </div>
        </div>
    </script>

    <script type="text/html" id="login-template">
        <div id="login-modal" class="modal fade" role="dialog">
            <div class="container">
                <div class="col-md-10">
                    <div class="modal-dialog" style="margin-bottom:0">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Sign In</h3>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post">
                                    <div class=""><label for="id_username"></label></div>
                                    <div class="form-group">
                                        <input id="id_username" class="form-control" type="text" name="username"
                                               maxlength="30" required/>
                                    </div>
                                    <div class="form-group">
                                        <input id="id_password" class="form-control" type="password" name="password"
                                               required/>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-success" data-dismiss="modal">Login
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="header-template">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">qband</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <% if (authenticated) { %>
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="ui-state-highlight">Dashboard <span class="badge"></span></a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class="logout button navbar-right">Logout</a></li>
                    </ul>
                    <% } else { %>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                    data-target="#login-modal">Signin
                            </button>
                        </li>
                        <li><a href="/" class="button">Signup</a></li>
                    </ul>
                    <% } %>
                </div>
            </div>
        </nav>
    </script>

</head>
<body>


<div class="jumbotron">
    <div class="container">
        <h1>qband</h1>

        <p>discover the social web</p>
    </div>
</div>

<!-- Our example search mechanism -->
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center">
            <h1><img src="/static/img/qband_logo_white.png"/>
                <small>discover the social web</small>
            </h1>

        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <form id="search-form" action="/" method="post">
            <div id="csrf-token">{% csrf_token %}</div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
                <input id="search-box" name="search" type="search" placeholder="Search..." class="form-control"
                       required>
            </div>
            <div class="col-lg-2">
                <button type="submit" class="form-control btn btn-success glyphicon glyphicon-search"/>
            </div>
        </form>
    </div>
</div>

<br/>


<div id="placeholder"></div>

<!-- Our example "results" -->
<!-- <div class="container">
    <div id="freewall">
        <div class="item well"></div>
        <div class="item well"></div>
        <div class="item well"></div>
        <div class="item well"></div>
        <div class="item well"></div>
        <div class="item well"></div>
        <div class="item well"></div>
        <div class="item well"></div>
        <div class="item well"></div>
        <div class="item well"></div>
        <div class="item well"></div>
        <div class="item well"></div>
    </div> -->
<!-- Example row of columns -->
<!--             <div class="row">

            <div class="col-md-3">            
                <div class="well">
                    <h2><img src="/static/img/youtube_logo.png" /></h2>
                    <img src="/static/img/youtube_video.png" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">                    
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/facebook_logo.png" /></h2>                
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
           </div>

            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/twitter_logo_sm.png" /></h2>              
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/twitter_logo_sm.png" /></h2>              
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>

            </div>

        </div>

        <div class="row"> 

            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/facebook_logo.png" /></h2>                
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
           </div>

            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/twitter_logo_sm.png" /></h2>              
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/twitter_logo_sm.png" /></h2>              
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="well">
                    <h2><img src="/static/img/youtube_logo.png" /></h2>
                    <img src="/static/img/youtube_video.png" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">                    
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>

            </div> 
        </div> -->
<!-- </div> -->
<!-- </div>     -->

<div id="content"></div>
<script src="{% static 'vendor/jquery.js' %}"></script>
<script src="{% static 'vendor/underscore.js' %}"></script>
<!--script src="{% static 'vendor/backbone.js' %}"></script-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Freewall functionality -->
<script>
    var results = new Array();
    var interval_id = 0;

    $(function () {
        var wall = new freewall("#freewall");
        wall.fitWidth();
    });

    function display_results(results) {
        var output = "<div class='container'><div id='freewall'>";
        for (var i in results) {
            //console.log("Index: " + i + ", Data: " + results[i].text)
            if (results[i].provider == 'twitter') {
                provider_url = "<img src='http://icons.iconarchive.com/icons/graphics-vibe/simple-rounded-social/256/twitter-icon.png' width='40px' style='float:left;'>";
            } else if (results[i].provider == 'facebook') {
                provider_url = "<img src='http://icons.iconarchive.com/icons/graphics-vibe/simple-rounded-social/256/twitter-icon.png' width='40px' style='float:left;'>";
            } else {
                provider_url = "";
            }

            output += "<div class='item well'>" + results[i].provider;
            output += "<p>" + provider_url + "</p>"
            output += "<p>" + results[i].text + "</p>";
            output += "<a href=\"" + results[i].url + "\">" + results[i].url + "</a>";
            output += "<h6>Matched Terms: </h6><br />" + results[i].matched_terms;
            output += "</div>";

        }
        output += "</div></div>";
        document.getElementById("placeholder").innerHTML = output;
    }

    $("#search-form").submit(function (event) {
        // Stop form from submitting normally
        event.preventDefault();

        var $search_url = '/api/v1/data/search/';
        var $result_url = '/api/v1/data/results/';

        var $form = $(this);
        var $search_query = $("#search-box").val();

        $.ajax({
            type: 'POST',
            url: $search_url,
            data: {
                search: $search_query,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                providers: ['all'] // For now, all is default
            },
            success: function (data) {
                console.log("Search POST Successful");
                results = new Array();
                var $result_token = data['result-token'];
                // Get results using token:
                clearInterval(interval_id);
                interval_id = setInterval(function () {
                    $.ajax({
                        type: 'GET',
                        url: $result_url + $result_token + '/',
                        success: function (data) {
                            console.log("Result GET Successfull.");
                            for (var i in data.results) {
                                console.log("- Adding new data: " + data.results[i].text)
                                results.push(data.results[i])
                            }
                            display_results(results);
                        },
                    });
                }, 3000);
            },
        });
    });
</script>
<!-- Freewall -->
<script src="{% static 'vendor/freewall.js' %}"></script>

<!--script id="config" type="text/json">
    {
        "models": {},
        "collections": {},
        "views": {},
        "router": null,
        "apiLogin": "{% url 'api-token' %}"
    }
</script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/models.js' %}"></script>
<script src="{% static 'js/views.js' %}"></script>
<script src="{% static 'js/router.js' %}"></script-->
</body>
</html>